{% load i18n %}

<ul class="flex flex-col w-full gap-4 lg:grid lg:grid-cols-2">
  <li>
    <input type="radio" id="reservation_type_1" name="reservation_type" value="{{ choices.HOURLY }}" class="hidden peer" hx-post="{% url 'reservations:calculate_total_price' %}"
    hx-target="#total_price" required {% if value == choices.HOURLY %}checked{% endif %} />
    <label for="reservation_type_1"
      class="flex items-stretch justify-between w-full h-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer shadow
        dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-primary-500 peer-checked:border-primary-600 peer-checked:text-primary-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
      _="on click add .bg-gray-50 to #id_start_time
          then add .bg-gray-50 to #id_end_time
          then remove .bg-gray-200 .pointer-events-none from #id_start_time
          then remove .bg-gray-200 .pointer-events-none from #id_end_time
      ">
      <div class="flex flex-col">
        <b class="mb-1">{% translate 'Hourly reservation' %}</b>
        <p class="mb-2">{% translate 'The rooms are booked in half-hour slots, starting at a quarter.' %}</p>
        <p class="mt-auto">{% translate 'Price ' %}: {{ prices.price }}{% translate ' €/hour' %}</p>
      </div>
    </label>
  </li>
  <li>
    <input type="radio" id="reservation_type_2" name="reservation_type" value="{{ choices.MORNING }}"
      class="hidden peer" hx-post="{% url 'reservations:calculate_total_price' %}"
      hx-target="#total_price" required 
      {% if value == choices.MORNING %}checked{% endif %}/>
    <label for="reservation_type_2"
      class="flex items-stretch justify-between w-full h-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer shadow
        dark:hover:text-gray-300 pointer dark:border-gray-700 dark:peer-checked:text-primary-500 peer-checked:border-primary-600 peer-checked:text-primary-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
      _="on click set #id_start_time.value to '08:00'
        then set #id_end_time.value to '14:00'
        then add .bg-gray-200 .pointer-events-none to #id_start_time
        then add .bg-gray-200 .pointer-events-none to #id_end_time
        then remove .bg-gray-50 from #id_start_time
        then remove .bg-gray-50 from #id_end_time
      "
      >
      <div class="flex flex-col">
        <b class="mb-1">{% translate 'Morning reservation' %}</b>
        <p class="mb-2">{% translate 'Rooms are reserved for a whole morning, with space available from 8:00 to 14:00' %}</p>
        <p class="mt-auto">{% translate 'Price ' %}: {{ prices.price_half_day }}{% translate ' €/morning' %}</p>
      </div>
    </label>
  </li>
  <li>
    <input type="radio" id="reservation_type_3" name="reservation_type" value="{{ choices.AFTERNOON }}" class="hidden peer" hx-post="{% url 'reservations:calculate_total_price' %}"
    hx-target="#total_price" required 
    {% if value == choices.AFTERNOON %}checked{% endif %}/>
    <label for="reservation_type_3"
      class="flex items-stretch justify-between w-full h-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer shadow
        dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-primary-500 peer-checked:border-primary-600 peer-checked:text-primary-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
      _="on click set #id_start_time.value to '14:00'        
        then set #id_end_time.value to '18:00'
        then add .bg-gray-200 .pointer-events-none to #id_start_time
        then add .bg-gray-200 .pointer-events-none to #id_end_time
        then remove .bg-gray-50 from #id_start_time
        then remove .bg-gray-50 from #id_end_time
      ">
      <div class="flex flex-col">
        <b class="mb-1">{% translate 'Afternoon reservation' %}</b>
        <p class="mb-2">{% translate 'Rooms are reserved for an entire afternoon, with the space available from 14:00 to 18:00.' %}</p>
        <p class="mt-auto">{% translate 'Price ' %}: {{ prices.price_half_day }}{% translate ' €/afternoon' %}</p>
      </div>
    </label>
  </li>
  <li>
    <input type="radio" id="reservation_type_4" name="reservation_type" value="{{ choices.WHOLE_DAY }}" class="hidden peer" hx-post="{% url 'reservations:calculate_total_price' %}"
    hx-target="#total_price" required
    {% if value == choices.WHOLE_DAY %}checked{% endif %} />
    <label for="reservation_type_4"
      class="flex items-stretch justify-between w-full h-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer shadow
        dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-primary-500 peer-checked:border-primary-600 peer-checked:text-primary-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
      _="on click set #id_start_time.value to '08:00'        
        then set #id_end_time.value to '18:00'
        then add .bg-gray-200 .pointer-events-none to #id_start_time
        then add .bg-gray-200 .pointer-events-none to #id_end_time
        then remove .bg-gray-50 from #id_start_time
        then remove .bg-gray-50 from #id_end_time
      ">
      <div class="flex flex-col">
        <b class="mb-1">{% translate 'Whole day reservation' %}</b>
        <p class="mb-2">{% translate 'Rooms are reserved for a whole day, with the space available from 8:00 to 18:00.' %}</p>
        <p class="mt-auto">{% translate 'Price ' %}: {{ prices.price_all_day }}{% translate ' €/day' %}</p>
      </div>
    </label>
  </li>
</ul>