{% load i18n %}
<div class=" max-w-2xl bg-white border rounded-xl overflow-hidden
  md:col-start-2
    {% if last_row_accent %} border-accent {% else %} border-primary-200 {% endif %}">
  <div class="px-3 pt-2 pb-1 grid grid-cols-6 text-gray-900">
    <h3 class="col-span-4 pb-1 text-lg font-bold text-balance">{{ title }}</h3>
    <h3 class="col-start-5 pb-1 col-span-2 text-right text-lg font-bold">{{month}} {{ year }} </h3>
    <p class="col-span-4 text-balance text-md">{% translate 'Initial month discount hours' %}</p>
    <p class="col-start-5 col-span-2 text-right text-md">{{ values.amount|floatformat:1 }} {% translate 'hours' %}</p>
    <p class="col-span-4 text-balance text-md">{% translate 'Discount hours left' %}</p>
    <p class="col-start-5 col-span-2 text-right text-md">{{ values.amount_left|floatformat:1 }} {% translate 'hours' %}</p>
    <hr class="col-span-6 h-px my-3 bg-primary-200 border-0 dark:bg-primary-700">
    <p class="col-span-4 text-balance text-md">{% translate 'Tax base of the reservations' %}</p>
    <p class="col-start-5 col-span-2 text-right text-md">
      {% if values.base_price %}
      {{ values.base_price|floatformat:2 }} €
      {% else %}
      0,00 €
      {% endif %}
    </p>
    <p class="col-span-4 text-balance text-md">{% translate 'VAT amount of the reservations' %}</p>
    <p class="col-start-5 col-span-2 text-right text-md">
      {% if values.vat %}
      {{ values.vat|floatformat:2 }} €
      {% else %}
      0,00 €
      {% endif %}
    </p>
    <p class="col-span-4 text-balance text-md">{% translate 'Total amount of the reservations' %}</p>
    <p class="col-start-5 col-span-2 mb-2 text-right text-md">
      {% if values.total_price %}
      {{ values.total_price|floatformat:2 }} €
      {% else %}
      0,00 €
      {% endif %}
    </p>
  </div>
  {# This if puts a lot of spaces between classes to make sure tailwind detects them when compiling. It might not be necessary. #}
  <div class="px-3 pb-2 pt-1 grid grid-cols-6 text-gray-900
    {% if last_row_accent %} bg-accent {% else %} bg-primary-200 {% endif %}">
    <p class="col-span-4 font-bold text-balance">
      {% translate 'Total to be invoiced' %}
      <span class="font-light">{% translate '(including discounts)' %}</span>
    </p>
    <p class="col-start-5 col-span-2 font-bold text-right">{{ values.bonus_price|floatformat:2 }} €</p>
  </div>
</div>
