{% extends "../base.html" %}
{% load i18n static thumbnail %}

{# Blocks de base.html #}
{% block page_title %}{% translate "Reservations List" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} reservations {% endblock %}
{% block extra_js %}{% endblock %}

{% block extra_head %}
<link href="{% static 'fullcalendar/main.min.css' %}" rel="stylesheet" />
<link href="{% static 'styles/calendar.css' %}" type="text/css" rel="stylesheet" />
<script src="{% static 'fullcalendar/index.global.min.js' %}"></script>
<script src="{% static 'fullcalendar/locales/ca.js' %}"></script>
<script>
  let roomId = "{{ room.id }}";
  const createReservationUrl = "{% url 'reservations:create_reservation' %}";
  const reservationViewUrl = "{% url 'reservations:base_reservations_details' %}";
</script>
{% endblock %}

{% block main %}
<nav class="flex mb-4" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="{% url 'home' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        {% translate 'Home' %}
      </a>
    </li>
    <li class="inline-flex items-center">
      <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
      </svg>
      <a href="{% url 'reservations:reservations_calendar' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
        {% translate 'Room reservations' %}
      </a>
    </li>
  </ol>
</nav>
<div class="flex flex-col md:grid grid-cols-2 gap-4">
  <h1 class="col-span-2 mt-4 text-3xl font-bold leading-tight tracking-tight text-primary-900 md:text-4xl dark:text-white">
    {{ room.name }}
  </h1>
  <!-- Descripció -->
  <p class="col-start-1">
    {{ room.description }}
  </p>
  {% if room.equipment %}
  <div>
    <h2 class="text-2xl mb-4 font-bold text-primary-900 md:text-3xl dark:text-white">{% translate 'Equipment' %}</h2>
    <p class="col-start-1 text-primary-900 dark:text-white"> {{ room.equipment }}</p>
  </div>
  {% endif %}
  {% if room.picture %}
  <div class="col-start-2 row-start-2 row-span-2">
    <img class="rounded-t-lg object-cover object-center" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
    {% thumbnail room.picture "600" as im %}
      <div class="rounded-lg overflow-hidden max-h-96 border border-gray-400">
        <img class="object-cover w-full object-right-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
      </div>
    {% endthumbnail %}
  </div>
  {% endif %}
</div>
<h1 class="mt-8 mb-4 text-2xl font-bold leading-tight tracking-tight text-primary-900 md:text-3xl dark:text-white">
  {% translate "Availability" %}
</h1>
<div class="mb-12" id="calendar-container">
  {% include 'reservations/calendar_filtered.html' %}
</div>

{% include "../reservations/calendar_filtered.js.html" %}

{% endblock %}
