{% extends "../base_form.html" %}
{% load i18n %}

{# Blocks de base.html #}
{% block page_title %}{% translate "Profile details" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} profile {% endblock %}
{% block extra_js %}{% endblock %}

{# Blocks de base_form.html #}
{% block enctype %}{% endblock %}
{% block submit_text %}{% endblock %}

{% block before_form_content %}
<nav class="flex mb-4" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="{% url 'home' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        {% translate 'Home' %}
      </a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block form_intro %}
  <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
    {% translate "Your profile" %}
  </h1>
  <p>{% translate "Here you can see and edit your data." %}</p>
  {% if user.is_janitor %}
    <p class="inline-block text-sm font-medium text-gray-900 dark:text-gray-300">
      {% translate "You are a janitor at BlocIV" %}
    </p>
    <button
      type="button"
      data-tooltip-target="is_janitor_helptext"
      data-tooltip-style="dark"
      class="ml-1 -mt-4">
      <svg aria-hidden="true"
        class="w-4 h-4 text-gray-400 hover:text-gray-900 dark:text-gray-500 dark:hover:text-white"
        fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
        clip-rule="evenodd"></path>
      </svg>
      <span class="sr-only">{% translate 'Show information' %}</span>
    </button>
    <div role="tooltip" id="is_janitor_helptext"
      class="inline-block absolute invisible z-10 py-2 px-3 max-w-sm text-xs font-normal text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      {% translate "You can't edit this information, if you want to change it, contact the administration." %}
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  {% endif %}
{% endblock %}

{% block form_fields %}
  {{ form }}

  {% if not user.email_verified %}
  <div class="flex items-center p-4 mb-4 bg-red-50 rounded-lg text-sm text-red-700 dark:text-red-500"
      role="alert">
    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Alert</span>
    <div>
      <span class="font-bold uppercase">{% translate "Warning!" %}</span>
      {% translate "Your email is not verified. Before anything else, you must verify it." %}
      <a class="font-bold hover:underline" href="{% url 'registration:send_verification_code' %}" id="id_verify_email">
        {% translate "Verify email here." %}
      </a>
    </div>
  </div>
  {% endif %}

{% endblock %}

{% block submit_whole %}
  <input type="submit"
  class="w-full px-5 py-2.5 rounded-lg bg-primary-600 text-white font-bold text-sm text-center cursor-pointer
    hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300
    dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800
    disabled:opacity-50  disabled:bg-gray-400 disabled:hover:bg-gray-400 disabled:cursor-not-allowed"
    value="{% translate 'Save' %}"
  >
{% endblock %}

{% block after_form_content %}
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 pb-8 mx-auto
    lg:pb-16 lg:-mt-9">
      <div class="w-full bg-white rounded-lg shadow
            dark:border dark:bg-gray-800 dark:border-gray-700
            sm:max-w-lg
            md:mt-0
            xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            {% translate "Password change" %}
          </h2>
          <p>{% translate "Here you can change your password." %}</p>
          {% if not user.email_verified %}
          <div class="flex items-center p-4 mb-4 bg-red-50 rounded-lg text-sm text-red-700 dark:text-red-500"
              role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Alert</span>
            <div>
              <span class="font-bold uppercase">{% translate "Warning!" %}</span>
              {% translate "Your email is not verified. Before anything else, you must verify it." %}
              <a class="font-bold hover:underline" href="{% url 'registration:send_verification_code' %}">
                {% translate "Verify email here." %}
              </a>
            </div>
          </div>
          {% endif %}
          <a href="{% url 'registration:password_change' %}">
            <button
              class="w-full mt-8 px-5 py-2.5 rounded-lg bg-primary-600 text-white font-bold text-sm text-center cursor-pointer
              hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300
              dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800
                disabled:opacity-50 disabled:bg-gray-400" id="id_password_change">
              {% translate 'Change password' %}
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- BACK VALUES -->
  {% if request.user.entity %}
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 pb-8 mx-auto
    lg:pb-16 lg:-mt-9">
      <div class="w-full bg-white rounded-lg shadow
            dark:border dark:bg-gray-800 dark:border-gray-700
            sm:max-w-lg
            md:mt-0
            xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            {% translate "Your entity" %}
          </h2>
          <p>{% translate "Here you can view your entity's data." %}</p>
          <div class="relative overflow-x-auto shadow-sm rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <tbody>
                <tr class="">
                  <th scope="row" class="px-2 py-2 border-t border-primary-50 font-medium text-gray-900 bg-primary-50 dark:text-white dark:bg-gray-800">
                    {% translate "Entity's email" %}
                  </th>
                  <td class="px-2 py-2 border-b border-t border-gray-200 dark:border-gray-700">
                    {{ request.user.entity.email }}
                  </td>
                </tr>
                <tr class="">
                  <th scope="row" class="px-2 py-2 font-medium text-gray-900 bg-primary-50 dark:text-white dark:bg-gray-800">
                    {% translate "Fiscal name" %}
                  </th>
                  <td class="px-2 py-2 border-b border-gray-200 dark:border-gray-700">
                    {{ request.user.entity.fiscal_name }}
                  </td>
                </tr>
                <tr class="">
                  <th scope="row" class="px-2 py-2 font-medium text-gray-900 bg-primary-50 dark:text-white dark:bg-gray-800">
                    {% translate "Entity's VAT" %}
                  </th>
                  <td class="px-2 py-2 border-b border-gray-200 dark:border-gray-700">
                    {{ request.user.entity.nif }}
                  </td>
                </tr>
                <tr class="">
                  <th scope="row" class="px-2 py-2 font-medium text-gray-900 bg-primary-50 dark:text-white dark:bg-gray-800">
                    {% translate "Entity's town" %}
                  </th>
                  <td class="px-2 py-2 border-b border-gray-200 dark:border-gray-700">
                    {{ request.user.entity.town }}
                  </td>
                </tr>
                <tr class="">
                  <th scope="row" class="px-2 py-2 font-medium text-gray-900 bg-primary-50 dark:text-white dark:bg-gray-800">
                    {% translate "Entity's postal code" %}
                  </th>
                  <td class="px-2 py-2 border-b border-gray-200 dark:border-gray-700">
                    {{ request.user.entity.postal_code }}
                  </td>
                </tr>
                <tr class="">
                  <th scope="row" class="px-2 py-2 font-medium text-gray-900 bg-primary-50 dark:text-white dark:bg-gray-800">
                    {% translate "Entity's address" %}
                  </th>
                  <td class="px-2 py-2 border-b border-gray-200 dark:border-gray-700">
                    {{ request.user.entity.address }}
                  </td>
                </tr>
                <tr class="">
                  <th scope="row" class="px-2 py-2 font-medium text-gray-900 bg-primary-50 dark:text-white dark:bg-gray-800">
                    {% translate "Entity's country" %}
                  </th>
                  <td class="px-2 py-2 border-b border-gray-200 dark:border-gray-700">
                    {{ request.user.entity.country }}
                  </td>
                </tr>
                <tr class="">
                  <th scope="row" class="px-2 py-2 font-medium text-gray-900 bg-primary-50 dark:text-white dark:bg-gray-800">
                    {% translate "Responsible person" %}
                  </th>
                  <td class="px-2 py-2 border-b border-gray-200 dark:border-gray-700">
                    {{ request.user.entity.person_responsible }}
                  </td>
                </tr>
                <tr class="">
                  <th scope="row" class="px-2 py-2 font-medium text-gray-900 bg-primary-50 dark:text-white dark:bg-gray-800">
                    {% translate "Is it resident?" %}
                  </th>
                  <td class="px-2 py-2 border-b border-gray-200 dark:border-gray-700">
                    {{ request.user.entity.is_resident }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}
