{% load i18n static %}

{% block extra_head %}
<link href="{% static 'fullcalendar/main.min.css' %}" rel="stylesheet" />
<link href="{% static 'styles/calendar.css' %}" type="text/css" rel="stylesheet" />
<script src="{% static 'fullcalendar/index.global.min.js' %}"></script>
<script src="{% static 'fullcalendar/locales/ca.js' %}"></script>
<script>
 function loadCalendar() {
  var calendarEl = document.getElementById('calendar');
  // var newActivityURL = "/admin/cc_courses/activity/add/"
  // var newReservationURL = "/ca/reservations/create/"
  // var newActivityParameters = ""
  // var newReservationParameters = ""
  // let dialog = document.getElementById("confirmation-dialog");

  // document.getElementById("confirm-reservation").addEventListener("click", function() {
  //   params = "?" + newReservationParameters.join("&")
  //   url = newReservationURL + params
  //   console.log(url)
  //   window.open(url);
  // });

  var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'customTimeGridWeek',
    locale: 'ca',
    firstDay: 1,
    headerToolbar: {
      left: '',
      center: 'title',
      right: 'prev,next'
    },
    views: {
      customTimeGridWeek: {
        type: 'timeGridWeek',
        duration: { days: 7 },
        firstDay: 1,
        selectable: true,
        selectMirror: false,

        // select: function(info) {
        //   console.log(info);
        //   var date_start = info.start.toLocaleString(
        //     "ca", {year: 'numeric', month: '2-digit', day: '2-digit'}
        //   )
        //   var date_end = info.end.toLocaleString(
        //     "ca", {year: 'numeric', month: '2-digit', day: '2-digit'}
        //   )
        //   var starting_time = info.start.toLocaleString(
        //     "ca", {hour: 'numeric', minute: 'numeric'}
        //   )
        //   var ending_time = info.end.toLocaleString(
        //     "ca", {hour: 'numeric', minute: 'numeric'}
        //   )
        //   newReservationParameters = [
        //     "start=" + date_start + " " + starting_time,
        //     "end=" + date_end + " " + ending_time,
        //   ]
        //   dialog.showModal();
        // },

        // Time Grid:
        allDaySlot: false,
        slotMaxTime: "18:00:00",
        slotMinTime: "08:00:00",
        expandRows: true,
      },
    },
    weekends: true,
    initialDate: function() {
      let currentDate = new Date();
      let day = currentDate.getDay();
      let diff = currentDate.getDate() - day + (day === 0 ? -6 : 1);
      return new Date(currentDate.setDate(diff));
    }(),
    events: {
      url: '/reserves/ajax/calendar/',
      error: function() {
          alert("No s'han pogut carregar les reserves. Recarrega la pàgina i si d'aquí uns minuts segueix fallant, si us plau avisa'ns.");
      }
    },

    eventDidMount: function(info) {
      let pill = document.createElement("span");
      let room = info.event._def.extendedProps['room'];
      let color = info.event._def.extendedProps['color'];
      let eventText = info.el.querySelector('.fc-event-time');

      pill.classList.add("text-xs")
      pill.innerText = room;
      eventText.append(pill)
      eventText.classList.add("flex", "flex-wrap", "gap-1", "items-center")
    },
    eventClick: function(info) {
      var eventObj = info.event;
      if (eventObj.url) {
        window.open(eventObj.url);
        info.jsEvent.preventDefault(); // prevents browser from following link in current tab.
      }
    },

  });
  calendar.render();
};
if (document.readyState !== 'loading') loadCalendar()
else document.addEventListener('DOMContentLoaded', loadCalendar);
</script>
{% endblock %}

<div id="calendar" class="my-calendar"></div>
