{% extends "../base_form.html" %}
{% load i18n %}

{# Blocks de base.html #}
{% block page_title %}{% translate "New Reservation" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} reservations {% endblock %}
{% block extra_js %}
<script>
  const startTimeInput = document.getElementById('id_start_time');
  startTimeInput.setAttribute('hx-post', '{% url "reservations:calculate_total_price" %}');
  startTimeInput.setAttribute('hx-vals', '{"selected_price": "{{ price }}", "id": "start-hourly-day"}');
  startTimeInput.setAttribute('hx-trigger', 'change');
  startTimeInput.setAttribute('hx-target', '#total_price');
  const endTimeInput = document.getElementById('id_end_time');
  endTimeInput.setAttribute('hx-post', '{% url "reservations:calculate_total_price" %}');
  endTimeInput.setAttribute('hx-vals', '{"selected_price": "{{ price }}", "id": "end-hourly-day"}');
  endTimeInput.setAttribute('hx-trigger', 'change');
  endTimeInput.setAttribute('hx-target', '#total_price');

</script>
{% endblock %}
{% block extra_head %}{% endblock %}

{# Blocks de base_form.html #}
{% block form_outro %}{% endblock %}
{% block after_form_content %}{% endblock %}
{% block before_form_content %}
<nav class="flex mb-4" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="{% url 'home' %}"
        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
          viewbox="0 0 20 20">
          <path
            d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
        </svg>
        {% translate 'Home' %}
      </a>
    </li>
    <li class="flex items-center">
      <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
      </svg>
      <a href="{% url 'reservations:reservations_list' %}"
        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
        {% translate 'Reservations' %}
      </a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block form_intro %}
<h1 class="text-2xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
  {% translate "New reservation" %}
</h1>
{% if room.room_type == 'event_room' %}
<div class="pb-4">
  <p>{% translate "If you want to book the Event Hall, fill up the form below and send it to the administration. Until
    they confirm or reject it, the reservation will appear as pending." %}</p>
</div>
{% endif %}
{% if messages %}
<div class="modal">
  <div class="modal__background" onclick="hideModal(event)"></div>
  <div class="modal__card">
    <div class="modal__title title-1">
      <p>Confirmació</p>
    </div>
    <div class="modal__close" onclick="hideModal(event)">
      <svg class="icon-pathfill-primary" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 9.46 9.46">
        <path d="M 0.73,9.46 0,8.73 4,4.73 0,0.73 0.73,0 l 4,4 4,-4 0.73,0.73 -4,4 4,4 -0.73,0.73 -4,-4 z" />
      </svg>
    </div>
    <div class="modal__form form">
      <div class="modal__intro text-md">
        {% for message in messages %}
        <div class="text-md">
          <p>{{ message }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block form_fields %}
<div class="flex justify-between items-center">
  <p>{% translate 'Selected room'%}: {{ room.name }}</p>
  <div id="total_price" class="py-2 px-4 bg-primary-300 border text-white rounded">
    {% include 'reservations/total_price.html' %}
  </div>
</div>
<ul class="flex flex-col w-full gap-4 lg:grid lg:grid-cols-2">
  <li>
    <input type="radio" id="reservation_type_1" name="reservation_type" value="hours" class="hidden peer" required checked />
    <label for="reservation_type_1"
      class="flex items-stretch justify-between w-full h-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer shadow
        dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-primary-500 peer-checked:border-primary-600 peer-checked:text-primary-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
      hx-post="{% url 'reservations:calculate_total_price' %}" hx-vals='{
        "selected_price": "{{ price }}",
        "id": "hourly-day"
      }' hx-target="#total_price">
      <div class="flex flex-col">
        <b class="mb-1">{% translate 'Hourly reservation' %}</b>
        <p class="mb-2">{% translate 'The rooms are booked in half-hour slots, starting at a quarter.' %}</p>
        <p class="mt-auto">{% translate 'Price ' %}: {{ price }}{% translate ' €/hour' %}</p>
      </div>
    </label>
  </li>
  <li>
    <input type="radio" id="reservation_type_2" name="reservation_type" value="morning" class="hidden peer" required />
    <label for="reservation_type_2"
      class="flex items-stretch justify-between w-full h-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer shadow
        dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-primary-500 peer-checked:border-primary-600 peer-checked:text-primary-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
      hx-post="{% url 'reservations:calculate_total_price' %}" hx-vals='{"selected_price": "{{ price_half_day }}"}'
      hx-target="#total_price">
      <div class="flex flex-col">
        <b class="mb-1">{% translate 'Morning reservation' %}</b>
        <p class="mb-2">{% translate 'Rooms are reserved for a whole morning, with space available from 8:00 to 14:00' %}</p>
        <p class="mt-auto">{% translate 'Price ' %}: {{ price_half_day }}{% translate ' €/morning' %}</p>
      </div>
    </label>
  </li>
  <li>
    <input type="radio" id="reservation_type_3" name="reservation_type" value="afternoon" class="hidden peer"
      required />
    <label for="reservation_type_3"
      class="flex items-stretch justify-between w-full h-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer shadow
        dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-primary-500 peer-checked:border-primary-600 peer-checked:text-primary-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
      hx-post="{% url 'reservations:calculate_total_price' %}" hx-vals='{"selected_price": "{{ price_half_day }}"}'
      hx-target="#total_price">
      <div class="flex flex-col">
        <b class="mb-1">{% translate 'Afternoon reservation' %}</b>
        <p class="mb-2">{% translate 'Rooms are reserved for an entire afternoon, with the space available from 14:00 to 18:00.' %}</p>
        <p class="mt-auto">{% translate 'Price ' %}: {{ price_half_day }}{% translate ' €/afternoon' %}</p>
      </div>
    </label>
  </li>
  <li>
    <input type="radio" id="reservation_type_4" name="reservation_type" value="whole_day" class="hidden peer"
      required />
    <label for="reservation_type_4"
      class="flex items-stretch justify-between w-full h-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer shadow
        dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-primary-500 peer-checked:border-primary-600 peer-checked:text-primary-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
      hx-post="{% url 'reservations:calculate_total_price' %}" hx-vals='{
          "selected_price": "{{ price_all_day }}"}' hx-target="#total_price">
      <div class="flex flex-col">
        <b class="mb-1">{% translate 'Whole day reservation' %}</b>
        <p class="mb-2">{% translate 'Rooms are reserved for a whole day, with the space available from 8:00 to 18:00.' %}</p>
        <p class="mt-auto">{% translate 'Price ' %}: {{ price_all_day }}{% translate ' €/day' %}</p>
      </div>
    </label>
  </li>
</ul>

{{ form }}
<!-- Mostra de maquetació del fieldset -->
<div class="fieldset
  flex flex-col items-stretch justify-between w-full h-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg shadow
  peer-checked:border-primary-600 peer-checked:text-primary-600
  dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-primary-500
">
  <h3 class="mb-3">{% translate 'Extra information to show at the public agenda' %}</h3>
  <div>
    <label for="id_description" class="inline-flex items-center mb-2 text-sm font-medium
      text-gray-900 dark:text-white">
      Description
    </label>
    <textarea name="description" cols="40" rows="10"
      class="form-control text-sm border rounded-lg block w-full p-2.5 
        bg-gray-50 border-gray-300 text-gray-900
        focus:ring-primary-600 focus:border-primary-600
        dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
        dark:focus:ring-primary-500 dark:focus:border-primary-500"
      autocomplete="" help_text="Description" id="id_description">
    </textarea>
  </div>
</div>

{% endblock %}

{% block submit_whole %}
  <input type="submit" name="create" id="create_reservation"
    class="w-full px-5 py-2.5 rounded-lg bg-primary-600 text-white font-bold text-sm text-center cursor-pointer
      hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300
      dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    value="{% translate 'Create reservation'%}" />

{% endblock %}