{% extends "../base.html" %}
{% load i18n static %}

{# Blocks de base.html #}
{% block page_title %}{% translate "Reservations" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} reservations {% endblock %}
{% block extra_js %}{% endblock %}

{% block extra_head %}
<link href="{% static 'fullcalendar/main.min.css' %}" rel="stylesheet" />
<link href="{% static 'styles/calendar.css' %}" type="text/css" rel="stylesheet" />
<script src="{% static 'fullcalendar/index.global.min.js' %}"></script>
<script src="{% static 'fullcalendar/locales/ca.js' %}"></script>
<script type="text/javascript" src="{% static 'js/_hyperscript.min.js' %}"></script>
<script>
  let roomId = null;
  const createReservationUrl = "{% url 'reservations:create_reservation' %}";
  const reservationViewUrl = "{% url 'reservations:base_reservations_details' %}";
  const isStaff = {{ is_staff|yesno:"true,false" }};
</script>
{% endblock %}

{% block main %}
<nav class="flex mb-4" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="{% url 'home' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        {% translate 'Home' %}
      </a>
    </li>
  </ol>
</nav>

<ul class="flex mb-8 text-sm font-medium text-center text-gray-500 rounded-lg shadow dark:divide-gray-700 dark:text-gray-400">
  <li class="w-full focus-within:z-10">
      <a href="{% url 'reservations:reservations_calendar' %}" class="inline-block w-full p-4 ext-primary-900 bg-primary-100 border-r rounded-s-lg border-primary-200 active
        dark:border-primary-700
        focus:ring-4 focus:outline-none focus:ring-primary-700">
        {% translate "Room reservations" %}
      </a>
    </li>
    <li class="w-full focus-within:z-10">
      <a href="{% url 'reservations:reservations_list' %}" class="inline-block w-full p-4 bg-white border-s-0 border-primary-200 rounded-e-lg
      dark:border-primary-700
      hover:text-primary-700 hover:bg-primary-50 dark:hover:text-white dark:bg-primary-700 dark:hover:bg-primary-700
      focus:ring-4 focus:ring-primary-700 focus:outline-none
      dark:text-white" aria-current="page">
        {% translate "Your reservations" %}
      </a>
  </li>
</ul>

{% if rooms %}
  <div>
    {% if room_types|length > 2 %}
    <h2 class="mt-4 mb-4 text-2xl font-bold leading-tight tracking-tight text-primary-900 md:text-3xl dark:text-white">
      {% translate "Room reservations" %}
    </h2>
    <h2 class="mt-4 mb-4 text-lg leading-tight tracking-tight text-primary-900 md:text-lg dark:text-white">
    {% translate "Choose a room type:" %}
    </h2>
    <div class="mb-12 flex justify-start">
      <form method="POST">
        {% csrf_token %}
        <ul>
        {% for key, value in room_types.items %}
          <li class="inline-flex">
            <input type="radio" id="{{ key }}" name="room_type"
              value="{{ key }}" class="hidden peer" required
              data-id="{{ key }}"
              onclick="addEventSource(this)"
              hx-target="#htmx-rooms"
              hx-post="{% url 'reservations:reservations_calendar' %}"
              hx-vals='{"room_type": "{{ key }}"}'
              />
              <!-- style="background-color: {{ value.color }}" -->
            <label for="{{ key }}"
              class="inline-flex items-center text-gray-900 font-medium rounded-lg text-sm
              px-5 py-2.5 me-2 mb-2 border-2 border-[{{ value.color }}] cursor-pointer
              peer-checked:bg-[{{ value.color }}]
              hover:filter hover:brightness-90
              focus:outline-none focus:ring-4 focus:ring-primary-200">
              {{ value.label }}
            </label>
          </li>
        {% endfor %}
        </ul>
      </form>
    </div>
    {% endif %}
    <div id="htmx-rooms">
      {% include 'rooms/rooms_filtered.html' %}
    </div>
    <h2 class="hidden mt-4 mb-4 text-lg leading-tight tracking-tight text-primary-900
      md:text-lg md:block dark:text-white">
      {% translate "To book a room, before you must choose a day and time on the calendar:" %}
    </h2>
    <h2 class="mt-4 mb-4 text-lg leading-tight tracking-tight text-primary-900
      md:text-lg md:hidden dark:text-white">
      {% translate "To book a room, can choose a day and time on the calendar or go directly to the form with the button." %}
    </h2>
    <!-- FALTA enllaç -->
    <a href="">
      <div class="w-full px-5 py-2.5 mt-12 mb-16 rounded-lg bg-primary-600 text-white font-semibold text-sm text-center cursor-pointer
        hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300
        md:hidden
        dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
        <p>{% translate "Book a room" %}</p>
      </div>
    </a>
    <div id="calendar-container">
    {% include 'reservations/calendar_filtered.html' %}
    </div>
  </div>

{% else %}

  <div>
    <p>{% translate 'There is no rooms available.' %}</p>
  </div>

{% endif %}

{% include "./calendar_filtered.js.html" %}

{% endblock %}
