
{% extends "../base.html" %}
{% load i18n custom_filters %}

{# Blocks de base.html #}
{% block page_title %}{% translate "Reservations List" %}{% endblock %}
{% block bodyclasses %}{% endblock %}
{% block mainclasses %} reservations {% endblock %}
{% block extra_js %}{% endblock %}
{% block extra_head %}{% endblock %}


{% block main %}
<nav class="flex mb-4" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="{% url 'home' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        {% translate 'Home' %}
      </a>
    </li>
  </ol>
</nav>

<ul class="flex mb-8 rounded-lg text-center text-sm font-medium text-gray-500 shadow dark:divide-gray-700 dark:text-gray-400">
  <li class="w-full focus-within:z-10">
      <a href="{% url 'reservations:reservations_calendar' %}" class="inline-block w-full p-4 bg-white border-r rounded-s-lg border-primary-200
        dark:border-primary-700
        hover:text-primary-700 hover:bg-primary-50 dark:hover:text-white dark:bg-primary-800 dark:hover:bg-primary-700
        focus:ring-4 focus:outline-none focus:ring-primary-700" id="check_calendar">
        {% translate "Room reservations" %}
      </a>
  </li>
  <li class="w-full focus-within:z-10">
      <a href="{% url 'reservations:reservations_list' %}" class="inline-block w-full p-4 text-primary-900 bg-primary-100 border-s-0 border-primary-200 rounded-e-lg active
      dark:border-primary-700
      focus:ring-4 focus:ring-primary-700 focus:outline-none
      dark:bg-primary-700 dark:text-white" aria-current="page">
        {% translate "Your reservations" %}
      </a>
  </li>
</ul>

<h1 class="mt-4 mb-8 md:mb-16 text-2xl font-bold leading-tight tracking-tight text-primary-900 md:text-3xl dark:text-white">
  {% translate "Your reservations" %}
</h1>

<form class="mb-8">
    {% csrf_token %}
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
      {% translate "Filter by" %}
    </label>
    <div class="flex gap-2 items-center">
      <!-- Al seleccionar un any, s'envia una petició al back amb la configuració actual d'any i mes -->
      <!-- i es retorna un llistat de reservations nou -->
      <select id="filter_year" name="filter_year"                     hx-target="#htmx-reservations"   
        hx-post="{% url 'reservations:filter_reservations' %}"
        class="inline-block w-56 p-2.5 bg-white border border-primary-300 text-gray-900 text-sm rounded-lg
          focus:ring-primary-500 focus:border-primary-500"
      >
        <option value="year" selected>{% translate "Choose a year" %}</option>
        {% for year in years %}
          <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>
      <!-- Al seleccionar un mes, s'envia una petició al back amb la configuració actual d'any i mes -->
      <!-- i es retorna un llistat de reservations nou -->
      <select id="filter_month" name="filter_month"
        hx-target="#htmx-reservations"   
        hx-post="{% url 'reservations:filter_reservations' %}"
        class="inline-block w-56 p-2.5 bg-white border border-primary-300 text-gray-900 text-sm rounded-lg
        focus:ring-primary-500 focus:border-primary-500">
        <option value="month" selected>{% translate "Choose a month" %}</option>
        {% for month_number, month_name in months.items %}
        <option value="{{ month_number }}">{{ month_name }}</option>
        {% endfor %}
      </select>
      <!-- Al fer click a la X, s'esborren els filtres d'any i mes  -->
      <!-- i es retorna un llistat de reservations nou -->
      <svg class="w-6 h-6 text-primary-400 cursor-pointer dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z" clip-rule="evenodd"/>
      </svg>      
    </div>
</form>



<div class="flex flex-col gap-4 mb-8 md:grid md:grid-cols-2" id="htmx-reservations">
  {% include './components/reservations.html' %}
</div>

{% endblock %}
