{% extends "./base_reservations_list.html" %}
{% load i18n %}

{% block "title" %}
  {% translate "Your reservations" %}
{% endblock %}

{% block submenu %}
  <ul class="flex mb-8 rounded-lg text-center text-sm font-medium text-gray-500 shadow dark:divide-gray-700 dark:text-gray-400">
    <li class="w-full focus-within:z-10">
        <a href="{% url 'reservations:reservations_calendar' %}" class="inline-block w-full p-4 bg-white border-r rounded-s-lg border-primary-200
          dark:border-primary-700
          hover:text-primary-700 hover:bg-primary-50 dark:hover:text-white dark:bg-primary-800 dark:hover:bg-primary-700
          focus:ring-4 focus:outline-none focus:ring-primary-700" id="check_calendar">
          {% translate "Room reservations" %}
        </a>
    </li>
    <li class="w-full focus-within:z-10">
        <a href="{% url 'reservations:reservations_list' %}" class="inline-block w-full p-4 text-primary-900 bg-primary-100 border-s-0 border-primary-200 rounded-e-lg active
        dark:border-primary-700
        focus:ring-4 focus:ring-primary-700 focus:outline-none
        dark:bg-primary-700 dark:text-white" aria-current="page">
          {% translate "Your reservations" %}
        </a>
    </li>
  </ul>
{% endblock %}

{% block "organization_filter_dropdown %}{% endblock %}
