{% extends "./base_reservations_list.html" %}
{% load i18n %}

{% block "title" %}
  {% translate "Monthly summary" %}
{% endblock %}

{% block submenu %}{% endblock %}

{% block organization_filter_dropdown %}
  <div class="col-start-1">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
      {% translate "Choose an organization" %}
    </label>
    <div class="flex gap-2 items-center">
      <select id="filter_entity" name="filter_entity"
        hx-target="#htmx-reservations"
        hx-post="{{ filter_reservations_url }}"
        hx-trigger="change"
        class="inline-block w-56 p-2.5 bg-white border border-primary-300 text-gray-900 text-sm rounded-lg
          focus:ring-primary-500 focus:border-primary-500"
        autocomplete="off"
      >
        <option value="" selected>-</option>
        {% for entity in entities %}
          <option value="{{ entity.id }}">{{ entity.fiscal_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endblock %}
