<div>
  <!-- Camps checkbox -->
  <div>
    <p class="block mb-2 text-sm font-medium
         text-gray-900 dark:text-white ">
      <legend>Reservation Type:</legend>
    </p>
    <div id="id_reservation_type" class="text-sm border rounded-lg block w-full p-2.5 
        bg-gray-50 border-gray-300 text-gray-900
        focus:ring-primary-600 focus:border-primary-600
        dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
        dark:text-white dark:focus:ring-primary-500
        dark:focus:border-primary-500
        " hx-post="/ca/reserves/preu/" hx-target="#total_price">
      <div>
        <label for="id_reservation_type_0">
          <input type="radio" name="reservation_type" value="hourly" class="text-sm border rounded-lg block w-full p-2.5 
        bg-gray-50 border-gray-300 text-gray-900
        focus:ring-primary-600 focus:border-primary-600
        dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
        dark:text-white dark:focus:ring-primary-500
        dark:focus:border-primary-500
        " required="" id="id_reservation_type_0" checked=""
            _="on click add .bg-gray-50 to #id_start_time then add .bg-gray-50 to #id_end_time then remove .bg-gray-200 .pointer-events-none from #id_start_time then remove .bg-gray-200 .pointer-events-none from #id_end_time">
          Reserva per hores
        </label>
      </div>
      <div>
        <label for="id_reservation_type_1">
          <input type="radio" name="reservation_type" value="morning"
            class="text-sm border rounded-lg block w-full p-2.5 
              bg-gray-50 border-gray-300 text-gray-900
              focus:ring-primary-600 focus:border-primary-600
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-primary-500
              dark:focus:border-primary-500" 
            required="" id="id_reservation_type_1"
            _="on click
              set #id_start_time.value to '08:00'
              then set #id_end_time.value to '14:00'
              then add .bg-gray-200 .pointer-events-none to #id_start_time 
              then add .bg-gray-200 .pointer-events-none to #id_end_time 
              then remove .bg-gray-50 from #id_start_time 
              then remove .bg-gray-50 from #id_end_time">
          Reserva de matí
        </label>
      </div>
      <div>
        <label for="id_reservation_type_2">
          <input type="radio" name="reservation_type" value="afternoon" class="text-sm border rounded-lg block w-full p-2.5 
            bg-gray-50 border-gray-300 text-gray-900
            focus:ring-primary-600 focus:border-primary-600
            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
            dark:text-white dark:focus:ring-primary-500
            dark:focus:border-primary-500
            " required="" id="id_reservation_type_2"
            _="on click
                set #id_start_time.value to '14:00'
                then set #id_end_time.value to '18:00'
                then add .bg-gray-200 .pointer-events-none to #id_start_time
                then add .bg-gray-200 .pointer-events-none to #id_end_time
                then remove .bg-gray-50 from #id_start_time
                then remove .bg-gray-50 from #id_end_time">
          Reserva de tarda
        </label>

      </div>
      <div>
        <label for="id_reservation_type_3">
          <input type="radio" name="reservation_type" value="whole_day"
          class="text-sm border rounded-lg block w-full p-2.5 
            bg-gray-50 border-gray-300 text-gray-900
            focus:ring-primary-600 focus:border-primary-600
            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
            dark:text-white dark:focus:ring-primary-500
            dark:focus:border-primary-500"
          required="" id="id_reservation_type_3"
            _="on click set #id_start_time.value to '08:00' then set #id_end_time.value to '18:00' then add .bg-gray-200 .pointer-events-none to #id_start_time then add .bg-gray-200 .pointer-events-none to #id_end_time then remove .bg-gray-50 from #id_start_time then remove .bg-gray-50 from #id_end_time">
          Reserva de dia</label>
      </div>
    </div>
  </div>

  <!-- Resta de camps -->

</div>