{% load i18n static %}

<div id="total_price"
  class="py-1 w-1/2 bg-primary-300 border border-primary-400 text-white rounded">
  <div class="px-3 pb-1 border-b border-primary-400 font-semibold">
    <p class="text-balance text-primary-800">{% translate 'Reserve price' %}</p>
  </div>
  <div class="px-3 pt-1 flex justify-between gap-6">
    <p class="text-primary-800">{% translate 'Tax base' %}:</p>
    <p>{{ base_price }} €</p>
  </div>
  <div class="px-3 flex justify-between gap-6">
    <p class="text-primary-800">{% translate 'Taxes' %}:</p>
    <p>{{ tax }} €</p>
  </div>
  <div class="px-3 flex justify-between gap-6 font-semibold">
    <p class="text-primary-800">{% translate 'Total' %}:</p>
    <p>{{ total_price }} €</p>
  </div>
</div>
